<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- <h1>Test</h1> -->
    <form
      action="https://shipra.io/sucee"
      class="paymentWidgets"
      data-brands="VISA MASTER AMEX"
    ></form>
    <script
      src="https://eu-test.oppwa.com/v1/paymentWidgets.js?checkoutId=CA06C27C5638B0E23308A1442D1D8CA4.uat01-vm-tx02"
      integrity="sha384-AXcfI3CG+o7mPb6b6v0RKgL+ZtV0yXHVvw/ZArQClRvZaGnUoN6JLhrw/K77dBZi"
      crossorigin="anonymous"
    ></script>
  </body>
</html>